<div class="container">
		<!-- use the container class to define a display area -->
	<div class="row">
			<!-- break display page into two columns -->
		<div class="col-md-7">
			<p><%= image_tag @portfolio_item.main_image %></p>
		</div>
		
		<div class="col-md-5">  
			<!-- remember that within the row, the col-md values must add to 12 when using Bootstrap grids -->
			<h1><%= @portfolio_item.title %></h1>
			<hr>
			<em><%= @portfolio_item.subtitle %></em>
			
			<p><%= @portfolio_item.body %></p>
			<h3>Technologies Used:</h3>
			<hr>
			<% @portfolio_item.technologies.each do |tech| %>
				<p> <%= tech.name %></p>	
			<% end %>		
		</div>
	</div>
</div>