
 <h1>  Show Portfolio Item </h1>

<%= @portfolio_item.inspect %>

<p><%= image_tag @portfolio_item.main_image %></p>

<h1><%= @portfolio_item.title %></h1>
<em><%= @portfolio_item.subtitle %></em>

<p><%= @portfolio_item.body %></p>

<h2>Technologies Used:</h2>

<% @portfolio_item.technologies.each do |tech| %>
<p> <%= tech.name %></p>


<% end %>

<hr>
<h3> Parameters Inspection </h3>
<%= params.inspect%>

<h3>Item DB Id:</h3>  
<%= params[:id] %>

<h3>Requested action</h3>  
<%= params[:action] %>

<hr>

